* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 100px auto;
    border:2px solid #bbb;
        box-shadow: 2px 5px 8px rgba(0, 0, 0, .3);
        transition: all 50s ease-in-out;

}
.btn-slide{
    width:100%;
    height:50px;
    background-color:black;
    color:#fff;
    font-size:20px;
    
}

/* . {
    content: ">";
    float: right;
    padding-right:20px;
    font-size: 18px;
    font-weight: bold;

} */


.col-1 {
    padding: 0 45px;
    display: none;
}

.btn {
    display: block;
    /* margin: 20px auto; */
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-family: Tahoma;
    outline: none;
    /* border:solid 2px rgba(0, 0, 0, .3); */
    /* border-radius: 30px; */
    /* box-shadow: 2px 5px 10px rgba(0, 0, 0, .3); */
}

button:hover {
    background-color: darkgrey;
    transition: all .50s ease-in-out;
    box-shadow: none;
    cursor: pointer;
    color: #fff;
}


.calc{
    text-align: center;
    background-color: chocolate;
    margin: 0 auto
}
td{
    width:50px;
    font-size:50px;
}
.button1{
background-color:#666;
border:none;
font-size:20px;
width:50px;
height:50px;
color:white;


}
.button1:hover{
background-color:white;
border:none;
font-size:20px;
width:50px;
height:50px;
color:#444;


}

table{border:none;

}
tr{border:none;}
td{border:none;}

input{
background-color:#555;
width:212px;
height:50px;
color:white;
border:none;
font-size:20px;
}
body{

background-color:#102C3D; 
}
#cdv{

background-color:#EA871C;
color:#222;
}
#cdv:hover{

background-color:#222;
color:#EA871C;
}
span{
background-color:#333;


}
.dos{
width:212px;
height:50px;

}
/* .dos:hover{
width:212px;
height:50px;

} */